@page "/auth"
@using test.Services
@inject CustomAuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@if (_isLoading)
{
    <p>Loading...</p>
}
else
{
    <h3>Page Protégée par Authorize</h3>
    <p>Cette page est protégée par l'attribut Authorize. Vous ne pouvez y accéder que si vous êtes connecté.</p>
}

@code {
    private bool _isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity.IsAuthenticated)
        {
            _isLoading = false;
        }
        else
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}
